<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name = "viewport" content = "width=device-width, initial-scale = 1">
    <title>Tehnomanija vs Gigatron</title>
	<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
	
	<style>
	
	.container-fluid {
	   padding: 50px 50px 50px 50px;
    }
	
	.bg-1 {
		background-color: #1abc9c;
        color: black;
	}
	
	.bg-2 {
        background-color: white;
        color: black;
    }
		
	</style>	
</head>
<body>

<div class = "container-fluid bg-1 text-center">
    <h3> Welcome</h3>  
	
	<form method="POST">
		<input name="text" id = "input_field">
		<input type='submit' id='submit' class='btn btn-primary btn-lg' value='submit'>
	</form>
</div>


	<h2> Prikazujem sve {{ rec }} koje sam nasao</h2>
	<div class = "container-fluid bg-2">

		{%  for p in pretrage %}
			<button  id= "{{ p }}" onclick="btn_search(id)" class='btn btn-primary btn-lg' value= "{{ p }}" > {{ p }} </button>
		{% endfor %}

	</div>
<div class = "container-fluid bg-2">

	<div class = "row">
		<div class = "col">
			<h2> {{ ime1 }} </h2>
			<table title="{{ ime1 }}" class = "table table-striped">
				<tr> <th> Ime</th>  <th> Cena </th></tr>
				{% for i in firma1 %}
				<tr> <td> {{i['ime']}}</td> <td> {{i['cena']}}</td>  </tr>
				{%endfor%}
			</table>
		</div>

		<div class = "col">
			<h2> {{ime2}} </h2>
			<table title=" {{ime2}}" class = "table table-striped">
				<tr> <th> Ime</th>  <th> Cena </th></tr>
				{% for i in firma2 %}
				<tr> <td> {{i['ime']}}</td> <td> {{i['cena']}}</td>  </tr>
				{%endfor%}
			</table>
		</div>
	</div>
</div>

<script>
function btn_search(search_id) {

    	document.getElementById("input_field").value = document.getElementById( search_id ).value;
    	document.getElementById("submit").click()
}

</script>

</body>
</html>