<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name = "viewport" content = "width=device-width, initial-scale = 1">
    <title>Tech Search {{ime1}}-{{ime2}}</title>
	<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<style>
	
	.container-fluid {
	   padding: 50px 50px 50px 50px;
    }
	
	.bg-1 {
		background-color: #1abc9c;
        color: black;
	}
	
	.bg-2 {
        background-color: white;
        color: black;
    }
    .table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #1abc9c;
}



	</style>	
</head>
<body>

<div class = "container-fluid bg-1 text-center">
    <h3> Welcome</h3>  
	
	<form method="POST">
		<input name="text" id = "input_field">
		<input type='submit' id='submit' class='btn btn-primary btn-lg' value='submit' onclick="alert_firme()">
	<h1> Izbor sajtova za pretragu</h1>
		<label class="container">Tehnomanija
			{%if 't' in izabrane%}
  				<input type="checkbox" checked="checked" name="tehnomanija">
			{% else %}
				<input type="checkbox"  name="tehnomanija">
			{%endif%}
			<span class="checkmark"></span>
		</label>
		<label class="container">Gigatron
  			{%if 'g' in izabrane%}
  				<input type="checkbox" checked="checked" name="gigatron">
			{% else %}
				<input type="checkbox"  name="gigatron">
			{%endif%}
  			<span class="checkmark"></span>
		</label>
		<label class="container">WinWin
			{%if 'w' in izabrane%}
  				<input type="checkbox" checked="checked" name="winwin">
			{% else %}
				<input type="checkbox"  name="winwin">
			{%endif%}
  			<span class="checkmark"></span>
		</label>

	</form>
</div>





	<h2> {{ rec }}</h2>
	<div class = "container-fluid bg-2">

		{%  for p in pretrage %}
			<button  id= "{{ p }}" onclick="btn_search(id)" class='btn btn-primary btn-lg' value= "{{ p }}" > {{ p }} </button>
		{% endfor %}

	</div>
<div class = "container-fluid bg-2">

	<div class = "row">
		<div class = "col">
			<h2> {{ ime1 }} </h2>
			<table title="{{ ime1 }}" class = "table table-striped" id="myTableL">
				<tr><th></th> <th onclick="sortTable(1, 'myTableL')"> Ime</th>  <th onclick="sortTable(2, 'myTableL')"> Cena </th></tr>
				{% for i in firma1 %}

				<tr> <td> <img src="{{i['slika']}}"  width="35" height="42">  </td>
					<td> <a href="{{i['link']}}"> {{i['ime']}}</a></td>
					<td> {{i['cena']}}</td>  </tr>
				{%endfor%}
			</table>
		</div>

		<div class = "col">
			<h2> {{ime2}} </h2>
			<table title=" {{ime2}}" class = "table table-striped" id="myTableR">
				<tr><th></th> <th onclick="sortTable(1, 'myTableR')"> Ime</th>  <th onclick="sortTable(2, 'myTableR')"> Cena </th></tr>

				{% for i in firma2 %}

				<tr><td> <img src="{{i['slika']}}"  width="42" height="42">  </td>
					<td> <a href="{{i['link']}}"> {{i['ime']}}</a></td>
					<td> {{i['cena']}}</td>  </tr>
				{%endfor%}
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
function btn_search(search_id) {

    	document.getElementById("input_field").value = document.getElementById( search_id ).value;
    	document.getElementById("submit").click()
}
function alert_firme(){
var numberOfChecked = $('input:checkbox:checked').length;
if( numberOfChecked > 2 )
	alert("Samo 2 firme mogu biti izabrane");
elseif  (numberOfChecked == 1)
	alert("Izaberi 2 firme");
	}
function sortTable(n, tableId) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById(tableId);
  switching = true;

  dir = "asc";

  while (switching) {

    switching = false;
    rows = table.getElementsByTagName("TR");

    for (i = 1; i < (rows.length - 1); i++) {

      shouldSwitch = false;

      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];

      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {

          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {

          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {

      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;

      switchcount ++;
    } else {

      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}



</script>

</body>
</html>